[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/SCrypto"]
	path = Carthage/Checkouts/SCrypto
	url = https://github.com/sgl0v/SCrypto.git
